<h1>Sign-up</h1>

<form method="POST" action="/authentication/sign-up">
  <div class="form-group">
    <label for="sign-up-email">Username</label>
    <input type="username" name="username" placeholder="Your username Here">
  </div>
  <div class="form-group">
    <label for="sign-up-password">Password</label>
    <input type="password" name="password" placeholder="Your Password">
  </div>
  <button>Sign Up</button>
</form>